# Agenda
* Numpy
* Pandas
* Lab

# Introduction

## Create a new notebook for your code-along:

From our submission directory, type:
    
    jupyter notebook

From the IPython Dashboard, open a new notebook.
Change the title to: "Numpy and Pandas"

# Introduction to Numpy

* Overview
* ndarray
* Indexing and Slicing

More info: [http://wiki.scipy.org/Tentative_NumPy_Tutorial](http://wiki.scipy.org/Tentative_NumPy_Tutorial)

## Numpy Overview

* Why Python for Data? Numpy brings *decades* of C math into Python!
* Numpy provides a wrapper for extensive C/C++/Fortran codebases, used for data analysis functionality
* NDAarray allows easy vectorized math and broadcasting (i.e. functions for vector elements of different shapes)

In [2]:
import numpy as np

### Creating ndarrays

An array object represents a multidimensional, homogeneous array of fixed-size items.

In [3]:
# Creating arrays
a = np.zeros((3))
b = np.ones((2,3))
c = np.random.randint(1,10,(2,3,4))
d = np.arange(0,11,1)

What are these functions?

    arange?

In [4]:
# Note the way each array is printed:
c

array([[[5, 1, 7, 1],
        [7, 4, 1, 3],
        [9, 5, 2, 7]],

       [[3, 6, 8, 8],
        [5, 8, 7, 9],
        [4, 3, 2, 4]]])

In [ ]:
## Arithmetic in arrays is element wise

In [24]:
a = np.array( [20,30,40,50] )
b = np.arange( 4 )
b

array([0, 1, 2, 3])

In [25]:
c = a-b # deduct elements
c

array([20, 29, 38, 47])

In [11]:
b**2

array([[ 1.,  1.,  1.],
       [ 1.,  1.,  1.]])

## Indexing, Slicing and Iterating

In [12]:
# one-dimensional arrays work like lists:
a = np.arange(10)**2

In [8]:
a

array([ 0,  1,  4,  9, 16, 25, 36, 49, 64, 81])

In [13]:
a[2:5]

array([ 4,  9, 16])

In [10]:
# Multidimensional arrays use tuples with commas for indexing
# with (row,column) conventions beginning, as always in Python, from 0

In [26]:
b = np.random.randint(1,100,(4,4))

In [27]:
b

array([[65, 88, 22, 38],
       [40, 10, 26, 36],
       [63, 85,  9, 94],
       [56, 63, 54, 47]])

In [28]:
# Guess the output
print(b[2,3])
print(b[0,0])

94
65

In [29]:
b[0:3,1],b[:,1]

(array([88, 10, 85]), array([88, 10, 85, 63]))

In [30]:
b[1:3,:]

array([[40, 10, 26, 36],
       [63, 85,  9, 94]])

# Introduction to Pandas

* Object Creation
* Viewing data
* Selection
* Missing data
* Grouping
* Reshaping
* Time series
* Plotting
* i/o
 

_pandas.pydata.org_

## Pandas Overview

_Source: [pandas.pydata.org](http://pandas.pydata.org/pandas-docs/stable/10min.html)_

In [32]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [35]:
dates = pd.date_range('20140101',periods=6) #how to make a date range
dates

DatetimeIndex(['2014-01-01', '2014-01-02', '2014-01-03', '2014-01-04',
               '2014-01-05', '2014-01-06'],
              dtype='datetime64[ns]', freq='D')

In [54]:
df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))
z = pd.DataFrame(index = df.index, columns = df.columns)
df.columns

Index([u'A', u'B', u'C', u'D'], dtype='object')

In [56]:
# Index, columns, underlying numpy data
df.T
df

                   A         B         C         D
2014-01-01 -0.371283 -0.112198 -0.190332 -1.799660
2014-01-02 -1.094550  0.313763  0.393946 -0.226648
2014-01-03 -0.867578 -1.588840 -0.916045  0.385347
2014-01-04 -0.322038  0.079977  0.649774  0.367535
2014-01-05 -0.717702 -0.739108 -1.046156 -0.439332
2014-01-06  1.419795  0.162667  1.486414 -1.553455

In [38]:
df2 = pd.DataFrame({ 'A' : 1.,
                         'B' : pd.Timestamp('20130102'),
                         'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                         'D' : np.array([3] * 4,dtype='int32'),
                         'E' : 'foo' })
    

df2

     A          B    C  D    E
0  1.0 2013-01-02  1.0  3  foo
1  1.0 2013-01-02  1.0  3  foo
2  1.0 2013-01-02  1.0  3  foo
3  1.0 2013-01-02  1.0  3  foo

In [39]:
# With specific dtypes
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E            object
dtype: object

#### Viewing Data

In [40]:
df.head()

                   A         B         C         D
2014-01-01 -1.084431  1.518277  0.802243  1.132421
2014-01-02 -0.749250 -0.802257  0.050762  0.682899
2014-01-03  0.294327 -0.892324  0.350404 -2.284694
2014-01-04  2.209143  0.531276 -1.192026 -0.451571
2014-01-05  0.042930 -1.178529  0.178912  1.318602

In [41]:
df.tail()

                   A         B         C         D
2014-01-02 -0.749250 -0.802257  0.050762  0.682899
2014-01-03  0.294327 -0.892324  0.350404 -2.284694
2014-01-04  2.209143  0.531276 -1.192026 -0.451571
2014-01-05  0.042930 -1.178529  0.178912  1.318602
2014-01-06 -1.523041  0.912289  0.797969 -0.854664

In [42]:
df.index

DatetimeIndex(['2014-01-01', '2014-01-02', '2014-01-03', '2014-01-04',
               '2014-01-05', '2014-01-06'],
              dtype='datetime64[ns]', freq='D')

In [43]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.135054  0.014789  0.164711 -0.076168
std    1.335392  1.117781  0.734284  1.386133
min   -1.523041 -1.178529 -1.192026 -2.284694
25%   -1.000636 -0.869807  0.082800 -0.753890
50%   -0.353160 -0.135491  0.264658  0.115664
75%    0.231478  0.817036  0.686078  1.020040
max    2.209143  1.518277  0.802243  1.318602

In [57]:
df.sort_values(by='B')
df

                   A         B         C         D
2014-01-01 -0.371283 -0.112198 -0.190332 -1.799660
2014-01-02 -1.094550  0.313763  0.393946 -0.226648
2014-01-03 -0.867578 -1.588840 -0.916045  0.385347
2014-01-04 -0.322038  0.079977  0.649774  0.367535
2014-01-05 -0.717702 -0.739108 -1.046156 -0.439332
2014-01-06  1.419795  0.162667  1.486414 -1.553455

### Selection

In [61]:
df[['A','B']] #select columns

                   A         B
2014-01-01 -0.371283 -0.112198
2014-01-02 -1.094550  0.313763
2014-01-03 -0.867578 -1.588840
2014-01-04 -0.322038  0.079977
2014-01-05 -0.717702 -0.739108
2014-01-06  1.419795  0.162667

In [59]:
df[0:3] #select rows

                   A         B         C         D
2014-01-01 -0.371283 -0.112198 -0.190332 -1.799660
2014-01-02 -1.094550  0.313763  0.393946 -0.226648
2014-01-03 -0.867578 -1.588840 -0.916045  0.385347

In [65]:
# By label - by index
df.loc[dates[0]]
df.loc[dates[0],:]

A   -0.371283
B   -0.112198
C   -0.190332
D   -1.799660
Name: 2014-01-01 00:00:00, dtype: float64

In [69]:
# multi-axis by label
df.loc[:,['A','B']]

                   A         B
2014-01-01 -0.371283 -0.112198
2014-01-02 -1.094550  0.313763
2014-01-03 -0.867578 -1.588840
2014-01-04 -0.322038  0.079977
2014-01-05 -0.717702 -0.739108
2014-01-06  1.419795  0.162667

In [71]:
# Date Range (rows)
df.loc['20140102':'20140104',['B']]

                   B
2014-01-02  0.313763
2014-01-03 -1.588840
2014-01-04  0.079977

In [73]:
# Fast access to scalar (a cell)
df.at[dates[1],'B']

0.31376252973980701

In [76]:
# iloc provides integer locations similar to np style
df.iloc[3:]
df.iloc[3:,:]

                   A         B         C         D
2014-01-04 -0.322038  0.079977  0.649774  0.367535
2014-01-05 -0.717702 -0.739108 -1.046156 -0.439332
2014-01-06  1.419795  0.162667  1.486414 -1.553455

### Boolean Indexing

In [79]:
df[df.A < 0] # Basically a 'where' operation

                   A         B         C         D
2014-01-01 -0.371283 -0.112198 -0.190332 -1.799660
2014-01-02 -1.094550  0.313763  0.393946 -0.226648
2014-01-03 -0.867578 -1.588840 -0.916045  0.385347
2014-01-04 -0.322038  0.079977  0.649774  0.367535
2014-01-05 -0.717702 -0.739108 -1.046156 -0.439332

### Setting

In [35]:
df_posA = df.copy() # Without "copy" it would act on the dataset

df_posA[df_posA.A < 0] = -1*df_posA

In [36]:
df_posA

                   A         B         C         D
2014-01-01  2.604552 -0.286448  0.572294 -1.081954
2014-01-02  0.143596 -0.403645 -2.695791  0.767807
2014-01-03  0.670766  0.205077  0.771750  0.118423
2014-01-04  0.717657  0.740800 -0.938863 -0.957629
2014-01-05  0.522290 -1.646924 -1.183220  1.070110
2014-01-06  1.175909  0.837163  1.736440 -0.697748

In [84]:
#Setting new column aligns data by index
s1 = pd.Series([1,2,3,4,5,6],index=pd.date_range('20140102',periods=6))

In [85]:
s1

2014-01-02    1
2014-01-03    2
2014-01-04    3
2014-01-05    4
2014-01-06    5
2014-01-07    6
Freq: D, dtype: int64

In [89]:
df['H'] = s1

In [90]:
df

                   A         B         C         D    F    H
2014-01-01 -0.371283 -0.112198 -0.190332 -1.799660  NaN  NaN
2014-01-02 -1.094550  0.313763  0.393946 -0.226648  1.0  1.0
2014-01-03 -0.867578 -1.588840 -0.916045  0.385347  2.0  2.0
2014-01-04 -0.322038  0.079977  0.649774  0.367535  3.0  3.0
2014-01-05 -0.717702 -0.739108 -1.046156 -0.439332  4.0  4.0
2014-01-06  1.419795  0.162667  1.486414 -1.553455  5.0  5.0

### Missing Data

In [41]:
# Add a column with missing data
df1 = df.reindex(index=dates[0:4],columns=list(df.columns) + ['E'])

In [42]:
df1.loc[dates[0]:dates[1],'E'] = 1

In [43]:
df1

                   A         B         C         D    F    E
2014-01-01  2.604552 -0.286448  0.572294 -1.081954  NaN  1.0
2014-01-02 -0.143596  0.403645  2.695791 -0.767807  1.0  1.0
2014-01-03 -0.670766 -0.205077 -0.771750 -0.118423  2.0  NaN
2014-01-04 -0.717657 -0.740800  0.938863  0.957629  3.0  NaN

In [44]:
# find where values are null
pd.isnull(df1)

                A      B      C      D      F      E
2014-01-01  False  False  False  False   True  False
2014-01-02  False  False  False  False  False  False
2014-01-03  False  False  False  False  False   True
2014-01-04  False  False  False  False  False   True

### Operations

In [45]:
df.describe()

C:\Anaconda2\lib\site-packages\numpy\lib\function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

              A         B         C         D         F
count  6.000000  6.000000  6.000000  6.000000  5.000000
mean  -0.104277 -0.003153  0.480330 -0.230486  3.000000
std    1.368179  0.921842  1.555815  0.894927  1.581139
min   -1.175909 -0.837163 -1.736440 -1.081954  1.000000
25%   -0.705934 -0.627212 -0.435739 -0.994534       NaN
50%   -0.596528 -0.245763  0.755579 -0.443115       NaN
75%   -0.238269  0.251465  1.122131  0.493706       NaN
max    2.604552  1.646924  2.695791  0.957629  5.000000

In [93]:
df.mean(),df.mean(1) # Operation on two different axes, first one on columns and second one on rows

(A   -0.325559
 B   -0.313956
 C    0.062934
 D   -0.544369
 F    3.000000
 H    3.000000
 dtype: float64, 2014-01-01   -0.618368
 2014-01-02    0.231085
 2014-01-03    0.168814
 2014-01-04    1.129208
 2014-01-05    0.842950
 2014-01-06    1.919237
 Freq: D, dtype: float64)

### Applying functions

In [98]:
df

                   A         B         C         D    F    H
2014-01-01 -0.371283 -0.112198 -0.190332 -1.799660  NaN  NaN
2014-01-02 -1.094550  0.313763  0.393946 -0.226648  1.0  1.0
2014-01-03 -0.867578 -1.588840 -0.916045  0.385347  2.0  2.0
2014-01-04 -0.322038  0.079977  0.649774  0.367535  3.0  3.0
2014-01-05 -0.717702 -0.739108 -1.046156 -0.439332  4.0  4.0
2014-01-06  1.419795  0.162667  1.486414 -1.553455  5.0  5.0

In [99]:
df.apply(np.cumsum)

                   A         B         C         D     F     H
2014-01-01 -0.371283 -0.112198 -0.190332 -1.799660   NaN   NaN
2014-01-02 -1.465833  0.201565  0.203614 -2.026307   1.0   1.0
2014-01-03 -2.333411 -1.387275 -0.712431 -1.640960   3.0   3.0
2014-01-04 -2.655449 -1.307297 -0.062656 -1.273425   6.0   6.0
2014-01-05 -3.373151 -2.046406 -1.108812 -1.712757  10.0  10.0
2014-01-06 -1.953356 -1.883739  0.377601 -3.266213  15.0  15.0

In [100]:
df.apply(lambda x: x.max() - x.min())

A    2.514346
B    1.902602
C    2.532569
D    2.185007
F    4.000000
H    4.000000
dtype: float64

In [103]:
# Built in string methods
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])
s.str.lower()

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6    caba
7     dog
8     cat
dtype: object

### Merge

In [51]:
np.random.randn(10,4) #returns an array

array([[ 0.86976922,  0.41924656, -0.60521986, -0.5509494 ],
       [-1.17809544, -1.46277205, -0.27205101,  0.28842046],
       [-1.55306908,  0.39248699,  0.25781516, -1.75059206],
       [ 0.10509324, -0.33411699,  2.31572111, -1.58645642],
       [ 0.56210577, -0.73141426,  0.80884112, -0.3935214 ],
       [ 1.00397716,  1.08006504, -0.60517295,  1.68190537],
       [ 0.78039265, -0.28501125, -1.47135063,  1.26196883],
       [-1.00548077, -1.20723213,  0.02518183,  0.27397444],
       [-1.14215311, -0.88854792, -2.00158912,  1.22479521],
       [ 0.96444882, -0.78135193,  1.27145425, -1.2701375 ]])

In [52]:
#Concatenating pandas objects together, returns a frame
df = pd.DataFrame(np.random.randn(10,4))
df

          0         1         2         3
0 -1.011598 -0.067276 -0.329718  1.854843
1 -0.689516 -0.793863 -0.934505  0.120608
2  1.252760  0.626642 -0.327524  1.243904
3  1.459666 -0.601071 -0.575780 -0.161793
4 -1.046668  1.742103  1.107985  1.075856
5 -0.099130 -1.756687  1.578114  1.726804
6  0.583566  1.047002 -0.672197  0.075251
7 -0.507451  0.365866  0.938717 -0.468684
8  1.845038 -1.665816 -0.311175  0.998069
9  1.302166  0.824490  1.304442 -0.432103

In [107]:
# Break it into pieces
pieces = [df[:3], df[3:7],df[7:]]
pieces

[                   A         B         C         D    F    H
 2014-01-01 -0.371283 -0.112198 -0.190332 -1.799660  NaN  NaN
 2014-01-02 -1.094550  0.313763  0.393946 -0.226648  1.0  1.0
 2014-01-03 -0.867578 -1.588840 -0.916045  0.385347  2.0  2.0,
                    A         B         C         D    F    H
 2014-01-04 -0.322038  0.079977  0.649774  0.367535  3.0  3.0
 2014-01-05 -0.717702 -0.739108 -1.046156 -0.439332  4.0  4.0
 2014-01-06  1.419795  0.162667  1.486414 -1.553455  5.0  5.0,
 Empty DataFrame
 Columns: [A, B, C, D, F, H]
 Index: []]

In [54]:
pd.concat(pieces)

          0         1         2         3
0 -1.011598 -0.067276 -0.329718  1.854843
1 -0.689516 -0.793863 -0.934505  0.120608
2  1.252760  0.626642 -0.327524  1.243904
3  1.459666 -0.601071 -0.575780 -0.161793
4 -1.046668  1.742103  1.107985  1.075856
5 -0.099130 -1.756687  1.578114  1.726804
6  0.583566  1.047002 -0.672197  0.075251
7 -0.507451  0.365866  0.938717 -0.468684
8  1.845038 -1.665816 -0.311175  0.998069
9  1.302166  0.824490  1.304442 -0.432103

In [55]:
# Also can "Join" and "Append"
df

          0         1         2         3
0 -1.011598 -0.067276 -0.329718  1.854843
1 -0.689516 -0.793863 -0.934505  0.120608
2  1.252760  0.626642 -0.327524  1.243904
3  1.459666 -0.601071 -0.575780 -0.161793
4 -1.046668  1.742103  1.107985  1.075856
5 -0.099130 -1.756687  1.578114  1.726804
6  0.583566  1.047002 -0.672197  0.075251
7 -0.507451  0.365866  0.938717 -0.468684
8  1.845038 -1.665816 -0.311175  0.998069
9  1.302166  0.824490  1.304442 -0.432103

### Grouping

In [111]:
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                       'foo', 'bar', 'foo', 'foo'],
                       'B' : ['one', 'one', 'two', 'three',
                             'two', 'two', 'one', 'three'],
                       'C' : np.random.randn(8),
                       'D' : np.random.randn(8)})

In [112]:
df

     A      B         C         D
0  foo    one -0.064206  0.937637
1  bar    one  0.115696 -0.794519
2  foo    two  2.448532 -1.218664
3  bar  three -1.185749  1.151101
4  foo    two -0.181304 -1.144956
5  bar    two  0.421215 -0.087353
6  foo    one -0.462547 -0.011745
7  foo  three -0.079196  1.123360

In [116]:
df.groupby(['A','B']).sum()

                  C         D
A   B
bar one    0.115696 -0.794519
    three -1.185749  1.151101
    two    0.421215 -0.087353
foo one   -0.526752  0.925891
    three -0.079196  1.123360
    two    2.267228 -2.363620

### Reshaping

In [ ]:
# You can also stack or unstack levels

In [ ]:
a = df.groupby(['A','B']).sum()

In [117]:
# Pivot Tables
pd.pivot_table(df,values=['C','D'],index=['A'],columns=['B'])

            C                             D
B         one     three       two       one     three       two
A
bar  0.115696 -1.185749  0.421215 -0.794519  1.151101 -0.087353
foo -0.263376 -0.079196  1.133614  0.462946  1.123360 -1.181810

### Time Series

In [ ]:
import pandas as pd
import numpy as np

In [118]:
# 100 Seconds starting on January 1st
rng = pd.date_range('1/1/2014', periods=100, freq='S')

In [119]:
# Give each second a random value
ts = pd.Series(np.random.randint(0, 500, len(rng)), index=rng)

In [120]:
ts

2014-01-01 00:00:00    408
2014-01-01 00:00:01    306
2014-01-01 00:00:02     70
2014-01-01 00:00:03     38
2014-01-01 00:00:04    203
2014-01-01 00:00:05     34
2014-01-01 00:00:06    325
2014-01-01 00:00:07    220
2014-01-01 00:00:08    398
2014-01-01 00:00:09    132
2014-01-01 00:00:10      7
2014-01-01 00:00:11    119
2014-01-01 00:00:12    117
2014-01-01 00:00:13      9
2014-01-01 00:00:14    270
2014-01-01 00:00:15    488
2014-01-01 00:00:16    220
2014-01-01 00:00:17    147
2014-01-01 00:00:18    243
2014-01-01 00:00:19    255
2014-01-01 00:00:20    464
2014-01-01 00:00:21    341
2014-01-01 00:00:22    195
2014-01-01 00:00:23     77
2014-01-01 00:00:24    498
2014-01-01 00:00:25    108
2014-01-01 00:00:26    351
2014-01-01 00:00:27    235
2014-01-01 00:00:28     46
2014-01-01 00:00:29    352
                      ...
2014-01-01 00:01:10    453
2014-01-01 00:01:11      3
2014-01-01 00:01:12    149
2014-01-01 00:01:13    419
2014-01-01 00:01:14    428
2014-01-01 00:01:15    202
2014-01-01 00:01:16     69
2014-01-01 00:01:17     39
2014-01-01 00:01:18     88
2014-01-01 00:01:19    203
2014-01-01 00:01:20    135
2014-01-01 00:01:21     51
2014-01-01 00:01:22    104
2014-01-01 00:01:23     34
2014-01-01 00:01:24    464
2014-01-01 00:01:25    239
2014-01-01 00:01:26    414
2014-01-01 00:01:27    266
2014-01-01 00:01:28    413
2014-01-01 00:01:29    211
2014-01-01 00:01:30     37
2014-01-01 00:01:31    321
2014-01-01 00:01:32    486
2014-01-01 00:01:33    200
2014-01-01 00:01:34     90
2014-01-01 00:01:35    399
2014-01-01 00:01:36     77
2014-01-01 00:01:37    128
2014-01-01 00:01:38    381
2014-01-01 00:01:39    471
Freq: S, dtype: int32

In [124]:
# Built in resampling
ts.resample('1Min').mean() # Resample secondly to 1Minutely

2014-01-01 00:00:00    243.916667
2014-01-01 00:01:00    237.850000
Freq: T, dtype: float64

In [126]:
# Many additional time series features
ts. #use tab

SyntaxError: invalid syntax (<ipython-input-126-5c9240a56f62>, line 2)

### Plotting

In [135]:
ts.plot()

In [136]:
def randwalk(startdate,points):
    ts = pd.Series(np.random.randn(points), index=pd.date_range(startdate, periods=points))
    ts=ts.cumsum()
    ts.plot()
    return(ts)

In [137]:
# Using pandas to make a simple random walker by repeatedly running:
a=randwalk('1/1/2012',1000)

In [138]:
# Pandas plot function will print with labels as default
a

2012-01-01     1.038879
2012-01-02     1.877452
2012-01-03     1.611097
2012-01-04     0.477660
2012-01-05     2.611294
2012-01-06     4.187075
2012-01-07     4.719140
2012-01-08     5.858744
2012-01-09     6.721320
2012-01-10     6.525145
2012-01-11     6.441167
2012-01-12     5.904451
2012-01-13     5.648246
2012-01-14     5.791859
2012-01-15     6.137827
2012-01-16     6.050655
2012-01-17     5.060248
2012-01-18     5.365659
2012-01-19     5.709679
2012-01-20     4.996401
2012-01-21     5.084445
2012-01-22     5.685862
2012-01-23     6.137410
2012-01-24     5.259411
2012-01-25     7.600022
2012-01-26     7.543372
2012-01-27     8.343016
2012-01-28     7.517732
2012-01-29     7.145393
2012-01-30     6.881380
                ...
2014-08-28    47.260942
2014-08-29    47.902461
2014-08-30    48.939544
2014-08-31    48.816021
2014-09-01    47.924236
2014-09-02    49.957981
2014-09-03    48.653340
2014-09-04    48.803258
2014-09-05    46.535031
2014-09-06    47.410176
2014-09-07    46.938978
2014-09-08    46.565841
2014-09-09    45.073132
2014-09-10    44.767946
2014-09-11    43.450191
2014-09-12    42.451197
2014-09-13    42.414160
2014-09-14    41.933805
2014-09-15    43.365107
2014-09-16    43.314043
2014-09-17    45.081179
2014-09-18    44.440886
2014-09-19    45.548042
2014-09-20    46.641601
2014-09-21    45.625293
2014-09-22    46.432483
2014-09-23    46.346792
2014-09-24    46.475149
2014-09-25    45.603120
2014-09-26    46.571346
Freq: D, dtype: float64

In [139]:
df = pd.DataFrame(np.random.randn(100, 4), index=ts.index,columns=['A', 'B', 'C', 'D'])
df = df.cumsum()
plt.figure();df.plot();plt.legend(loc='best') #

### I/O
I/O is straightforward with, for example, pd.read_csv or df.to_csv

#### The benefits of open source:

Let's look under x's in plt modules

# Next Steps

**Recommended Resources**

Name | Description
--- | ---
[Official Pandas Tutorials](http://pandas.pydata.org/pandas-docs/stable/10min.html) | Wes & Company's selection of tutorials and lectures
[Julia Evans Pandas Cookbook](https://github.com/jvns/pandas-cookbook) | Great resource with examples from weather, bikes and 311 calls
[Learn Pandas Tutorials](https://bitbucket.org/hrojas/learn-pandas) | A great series of Pandas tutorials from Dave Rojas
[Research Computing Python Data PYNBs](https://github.com/ResearchComputing/Meetup-Fall-2013/tree/master/python) | A super awesome set of python notebooks from a meetup-based course exclusively devoted to pandas